In [1]:
from pandas import DataFrame
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
import yagamee

In [2]:
row = [123456, 12345.6, 1234.56, 123.456, 12.3456,
       1.23456, 0.123456, 0.0123456, 0.00123456]
df = DataFrame({col: row for col in [
    "original",
    "f1", "f3", "f01", "f03",
    "g1", "g3", "g01", "g03",
    "e1", "e3", "e01", "e03",
    "G1", "G3",
]})
df

,original,f1,f3,f01,f03,g1,g3,g01,g03,e1,e3,e01,e03,G1,G3
0,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000,123456.000000
1,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000,12345.600000
2,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000,1234.560000
3,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000,123.456000
4,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600,12.345600
5,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560,1.234560
6,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456,0.123456
7,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346,0.012346
8,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235,0.001235

In [3]:
sigfig_notation = " f1f3f01f03g1g3g01g03e1e3e01e03G1G3G01G03"
yagamee.dataframe_tools.format_sigfig(df,sigfig_notation)

In [5]:
yagamee.dataframe_tools.preview_in_excel(df,sigfig_notation)

In [6]:
yagamee.dataframe_tools.copy_as_latex(df,sigfig_notation)